{% extends "layout.html" %}

{% block content %}

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="jumbotron">

<div class="row">  
  <div class="col-sm-6">

    <div class="card" >
        <img src="{{ url_for('static', filename='img/yoyo1.jpg') }}"  height="320" class="img-responsive" alt="...">
    </div>
  </div> <! fin primera columna-->


                    
  <div class="col-sm-6">
                        
    <h6>Hola, yo soy ...</h6>
    <h3>Sergio Hern&aacute;n Valenzuela C&aacute;mara</h3>
    <h4>Software Engineer</h4>
    <p><font color="red"><strong>Doctor Tomatto</strong></font> es un prototipo producto de la Tesis de Maestría Ingeniería de Software a ser presentada para obtener el grado de Magister en Ingeniería de Software Universidad Nacional de La Plata (UNLP), cuya  investigación pretende ser un aporte creativo a nivel nacional al aplicar el aprendizaje profundo a problemas de visión de computadora tales como detección y clasificación específicamente en las enfermedades del tomate mediante el procesamiento de imágenes digitales. La Plata - Argentina, 2020.</p>
      
   <table>  
    <tr>
        <td><i class="fa fa-whatsapp"></i> &nbsp;+56 9 87 63 70 39</td>
    </tr>
    <tr>
        <td><i class="fa fa-envelope"></i> &nbsp;serginho61@gmail.com</td>
    </tr>
    <tr>
        <td><i class="fa fa-home"></i> &nbsp;Arica - Chile</td>
    </tr>
   </table> 
       
      
    
      
   <table>
     <tr> 
        <!--td><a href="#"><h4><i class="fa fa-facebook"></i></h4></a></td><td>&nbsp;</td><td>&nbsp;</td-->
        <td><a href="https://twitter.com/faviomau"><h4><i class="fa fa-twitter"></i></h4></a></td><td>&nbsp;</td><td>&nbsp;</td>
        <td><a href="https://www.linkedin.com/in/sergio-hern%C3%A1n-valenzuela-c%C3%A1mara-4b965733/"><h4><i class="fa fa-linkedin"></i></h4></a></td>
      </tr>
   </table>
        
    
      
    <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      
      
           
  </div> <! fin segunda columna-->

</div> <! fin row fila-->


    <div class="col-md-12 col-md-offset-2"> 
     <div class="card-body d-flex justify-content-between align-items-center">
     &nbsp;&nbsp;
     <a class="btn btn-primary btn-md" href="/" role="button">Cerrar</a>
     </div>
    </div>
               
</div>

{% endblock%}
























        