{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
      <h3 class="display-4">Interactuar con Michelle</h3>
      <p class="lead">Para interactuar, se tiene que pronunciar MICHELLE seguido de la acción a ejecutar: Elegancia para hoy ... Por ejemplo: MICHELLE ... | --- | ---.</p>
      <hr class="my-4">

      <table class="table table-sm">
          <!--center-->
          <tbody>
              <tr>
                  <td><img class="img-responsive" src="{{ url_for('static', filename='img/disenhadoraFrancesa.png') }}" width="300" height="300"></td>
                  <td><textarea name="comentarios" rows="13" cols="90">Visor de Comandos</textarea></td>
              </tr>
          </tbody>
      </table>

        
   <div class="col-md-12 col-md-offset-2"> 
     <div class="card-body d-flex justify-content-between align-items-center">
     &nbsp;&nbsp;&nbsp;
     <a class="btn btn-primary btn-md" href="/disenhadora" role="button">Continuar</a>
	
      
     <a class="btn btn-primary btn-md" href="/" role="button">Cerrar</a>
     </div>
    </div>
     
    
        
</div>

{% endblock%}


